BOT_TOKEN=123456789:ABCdefGHIjklMNOpqrSTUvwxYZ
ADMIN_IDS=123456789
DB_NAME=license.db
LICENSE_API_PORT=8585
AUTO_UPDATE_ENABLED=1
AUTO_UPDATE_INTERVAL=60
CONFIGFLOW_REPO_BRANCH=main
SEAMLESS_REPO_BRANCH=main
